[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
@media (min-device-width : 320px) and (max-device-width : 480px) {
    

    [class*="col-md"] {
        width: auto;
    }

    [class*="col-"] {
        width: auto;
    }
    
    .col-lg-2 {
        visibility: collapse;
    }

    #zonaDinamica {
        width: 75%;
        overflow-x: scroll;
    }
    
}

@media only screen and (min-width: 600px) {

    /* For tablets: */

    .col-lg-2 {
        visibility: collapse;
    }

    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

/* For desktop: */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
}

.shadow-lg {
    background-color: #fae3e1;
}

form {
    
    width: 100%;
}

#link{
    color:white;
    text-decoration: none;
  }
.navbar{
    max-height: 49px;
}

#bottone{
    background-color:#b40d0d;
        color: #fff;
        cursor: pointer;
        font-size:18px;
         padding: 6px 45px; 
         border-radius: 15px;
         border: 1px ;
} 
#bottone:hover{
    background-color: #4CAF50;
    color: white;
}

hr:not([size]) {
    height: 0px;
}

.shadow-lg {
   background-color: #fae3e1;
   box-shadow: 0 1rem 3rem rgb(255 255 255 / 100%) !important;
}

@media (max-width: 600px){
#zonaDinamica {
    width: max-content;
    overflow:scroll;
    padding: 0%;
    left:-40px;
}
}

@media (max-width: 600px){
    #zonaDinamica2 {
        width: max-content;
        overflow:scroll;
        padding: 0%;
        left:-20px;
    }
    }

    .rounded-9 {
        min-height: 112px;
        margin-bottom: 24px;
        margin-top: 24px;
        border-radius: 0.3em;
    }
    #p{
        margin-bottom: 16px;
    }

    @media (max-width: 600px){
        .rounded-9 {
            min-height: 184px;
        }
    }

